
.tabs-container{

  display: flex;


}

.tab-links{
  flex:1;
  display: flex;
  justify-content: center;
}

.tab-links a{
  padding: 23px;
  text-decoration: none;
  color:black;
  background-color: cadetblue;
}

.tab-content{
  flex: 2;
}


     
